RewriteEngine On
RewriteCond %{THE_REQUEST} ^GET\ /index(\.html)?(\?.*)?\ HTTP/
RewriteRule ^index(\.html)?$ / [R=301,L]

# Continue with other rewrite rules to remove .html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]